

.container-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}

.text-navbar {
    color: white;
    text-decoration: none;
    text-decoration: underline;
    text-underline-offset: 8px;
}